<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <form action="#" th:action="@{/riderequest}" th:object="${rideRequestBean}" method="post">
            <table>
                <tr>
                    <td>Van:</td>
                    <td><input type="text" th:field="*{fromLocation}" /></td>
                    <td th:if="${#fields.hasErrors('fromLocation')}" th:errors="*{fromLocation}">van Error</td>
                </tr>
                <tr>
                    <td>Naar:</td>
                    <td><input type="text" th:field="*{toLocation}" /></td>
                    <td th:if="${#fields.hasErrors('toLocation')}" th:errors="*{toLocation}">naar Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>